@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
	color: #fff;
	background-color: #111428;
	font-family: Gilroy;
	width: 1920px;
	/* margin-left: auto;
	margin-right: auto; */
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}
/* ------------------ */
.header {
	height: 100px;
}
.header__logo {
	display: inline-block;
	padding: 41px 0px 0px 351px;
	font-weight: 700;
	text-transform: uppercase;
	opacity: 51%;
	font-size: 24px;
}
.menu {
	display: inline-block;
	text-transform: capitalize;
}
.menu div {
	display: inline-block;
	margin: 0px 0px 0px 26px;
	font-size: 18px;
	font-weight: 700;
	padding: 0px 0px 2px 0px;
}

.menu div::after {
	content: "";
	background: url("../img/arrow.png") 2px 4px / auto auto no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
}
.menu div:first-child {
	margin: 0px 0px 0px 60px;
}
/* Лишние классы, 
.menu__films {
	
}
.menu__clips {
}
.menu__music {
} */
.header__search {
	display: inline-block;
	margin: 0px 0px 0px 26px;
	border: 1px solid #a3a3a3;
	border-radius: 5px;
	width: 574px;
	height: 41px;
	padding: 11px 14px 11px 14px;

	/* position: relative; */
}
.search-img {
	position: absolute;
	left: 1425px;
	top: 45px;
}

.search {
	width: 100%;
	background-color: #111428;
	color: #a3a3a3;
	font-size: 16px;
	position: relative;
}
.search:focus{
	outline: none;
}
.header__heart {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1483px;
	top: 46px;
	/* background-color: red; */
}
.header__profile {
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #c4c4c4;
	left: 1527px;
	top: 40px;
}
.header__profile::after {
	content: "";
	background: url("../img/arrow.png") 2px 4px / auto auto no-repeat;
	margin: 8px 0px 0px 30px;
	width: 12px;
	height: 12px;
	
	display: inline-block;
}
.main__description {
	text-transform: capitalize;
	font-size: 14px;
	color: #a3a3a3;
	margin: 19px 0px 0px 351px;
}
.main__main-log {
	font-weight: 700;
	font-size: 38px;
	text-transform: capitalize;
	margin: 37px 0px 0px 919px;
}
.main__log {
	/* margin: 42px 0px 0px 768px; */
}
.main__input-mail {
	margin: 42px 0px 0px 768px;
	width: 384px;
	height: 50px;
	border-radius: 5px;
	padding: 13px 0px 16px 20px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 18px;
}
.main__input-password {
	display: block;
	margin: 30px 0px 0px 768px;
	width: 384px;
	height: 50px;
	border-radius: 5px;
	padding: 13px 0px 16px 20px;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 18px;
}
.memory {
	margin: 30px 0px 0px 768px;
	position: relative;
	font-size: 18px;
	width: 384px;
}
.memory__input {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.memory__input:checked + .memory__label::before{
	background: #fff url('../img/check.png') center / 15px no-repeat;

}
.memory__label {
	cursor: pointer;
	padding: 0px 0px 0px 30px;
}
.memory__label::before {
	content: "";
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	background: #fff;
	position: absolute;
}
.memory__span{
	margin: 0px 0px 0px 74px;
	font-size: 18px;
	color: #64B369;
}
.button {
	width: 100%;
	height: 50px;
	background: #337AB7;
	margin: 30px 0px 0px 0px;
	border-radius: 5px;
	font-size: 24px;
	color: white;
	font-weight: 700;

}







.different-log-in-main{
	margin: 30px 0px 0px 768px;
	font-size: 18px;
	max-width: 384px;

}

.different-log-in {
	text-align: center;
}
.different-log-in::first-letter{
	text-transform: uppercase;

}
.social__image{
display: inline-block;
width: 40px;
height: 40px;
margin: 20px 30px 0px 0px;
}
.social:last-child{
	margin-right: none;
}
.social__image img{
	width: 100%;
	vertical-align: middle;
	
}
.reg {
	margin: 30px 0px 0px 47px;
}
.reg__text_green {
	margin: 0px 0px 0px 10px;
	color: #64B369;
}





.footer {
	font-size: 20px;

}
.line{
	height: 1px;
	width: 1216px;
	margin: 60px 352px 0;
	background: white;

}
.footer__social {
	/* width: 683px; */
	margin: 0px 0px 0px 618px;
}
.footer__following {
	margin: 66px 0px 0px 252px;
	/* text-align: center; */
}

.social_more-space {
	margin: 20px 0px 0px 122px;
}
.social_more-space_img{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0px 40px 0px 0px;

}
.social_more-space_img img{
	vertical-align: middle;
}


.footer__info {
	margin: 60px 0px 0px 0px;
	
}
.footer__info span:last-child{
	margin: 0;
}
.footer__text {
	margin: 0px 20px 0px 0px;
	
}
